body {
    max-width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

* {
    font-family: 'Roboto';
    font-style: normal;
}

.title {
    text-align: center;
    font-size: 1.5em;
    text-decoration: underline;
}


.top-header {
    background-color: #ffd283;
    position: sticky;
    top: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top-header .name {
    font-size: 26px;
}

.nav ul {
    display: flex;
    list-style-type: none;
}

.nav li {
    padding-inline: 10px;
    font-size: 1.2em;
    font-weight: bold;
}

.nav a {
    text-decoration: none;
    color: #000;
}

.nav a:hover {
    color: #e36235;
    text-decoration: underline;
}

.social-link img {
    width: 30px;
    height: 30px;
}

.banner img {
    height: 200px;
    width: 100%;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
}

#about {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    width: 100%;
    gap: 5%;
    background-color: #0067c8;
}

.photo-me img {
    width: 300px;
    height: 300px;
    border-radius: 200px;
    object-fit: cover;
    box-shadow: 5px 5px 5px #000000;
}

.about-right {
    display: flex;
    flex-direction: column;
    max-width: 50%;
    align-items: center;
    justify-content: center;
    row-gap: 15px;
}

.me {
    box-shadow: 5px 5px 5px #122b3d;
    background-color: rgba(255, 255, 255, 0.6);
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 25px;
}

.CV {
    display: flex;
    flex-direction: row;
    gap: 10%;
}

.CV button {
    background-color: #f8efba;
    border: 1px solid black;
    border-radius: 25px;
    width: 150px;
    padding: 10px;
    box-shadow: 5px 5px 5px #122b3d;
}

.CV button:hover {
    background-color: #ecc65c;
}

.comp-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 5px;
}

.center {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

}

.Competences {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
}

#Portofolio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
    background-color: #e36235;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.gallery-item {
    position: relative;
    width: 700px;
    height: 350px;
    margin: 10px;
    border: #000 dotted 2px;
    border-radius: 20px;
}

.gallery-item img {
    width: 700px;
    height: 350px;
    border-radius: 20px;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 0;
    transition: opacity 0.3s ease;
    border-radius: 15px;
}

.gallery-item:hover {
    border: #000 solid 2px;
}

.gallery-item:hover .overlay {
    opacity: 1;
}

.description-text {
    text-align: center;
    color: white;
    font-size: 1em;
}

.description-text title {
    font-size: 0.5em;
}

#contact .container {
    display: flex;
    justify-content: center;
    background-color: #0aa1dd;
    padding-top: 10px;
}


form {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
}

form input {
    width: 100%;
    background-color: white;
    border: solid 1px;
    height: 2.5em;
    margin-bottom: 20px;
    box-shadow: 5px 5px 5px #064e6a;
}

form textarea {
    width: 100%;
    background-color: white;
    box-shadow: 5px 5px 5px #064e6a;
    border: solid 1px;
    height: 5em;
    line-height: 2.5em;
    font-size: 1.2em;
    margin-bottom: 20px;
}

input[type="submit"] {
    border-radius: 25px;
    width: 25%;
    border: 1px solid black;
    background-color: #f8efba;
    padding: .5em 1em;
}

input[type="submit"]:hover {
    background-color: #ecc65c;
}

@media all and (max-width:700px) {
    .top-header {
        width: 100%;
        flex-direction: column;
        text-align: center;
    }

    .nav {
        width: 100%;
    }

    .nav li {
        font-size: 1.2em;
    }

    .about-right {
        row-gap: 15px;
    }

    .me {
        width: 180%;

    }

    .CV {
        align-items: center;
        justify-content: center;
    }

    .gallery-item {
        width: 100%;
        height: 100%;
    }

    .gallery-item img {
        width: 100%;
        height: 100%;
    }

    .gallery-item:active {
        border: #000 solid 2px;
    }

    .gallery-item:active .overlay {
        opacity: 1;
    }

    .description-text {
        display: flex;
        text-align: start;
        gap: 20%;
        padding: 10px;
    }

    #contact .container {
        display: flex;
        justify-content: center;
        background-color: #0aa1dd;
        padding: 10px;
    }

    form {
        width: 95%;
    }
}

@media all and (max-width:1000px) {
    .nav li {
        font-size: 1em;
    }

    #about {
        flex-direction: column;
        height: auto;
        width: 100%;
        padding-top: 10px;
        padding-bottom: 10px;
        row-gap: 15px;
    }

    .nav ul {
        justify-content: center;
        align-items: center;
    }

    .me {
        width: 150%;
    }

}