body.modal-open {
    overflow: hidden;
}

* {
    font-family: 'Roboto';
    font-style: normal;
    margin: auto;
}

body {
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title {
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
    text-decoration: underline;
}

.top-header {
    background-color: #0B2138;
    position: sticky;
    top: 0;
    z-index: 1000;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 85px;
    color: white;
}

.top-header .name {
    font-size: 26px;
}

ul {
    display: flex;
    list-style-type: none;
    align-items: center;
    padding: 0px;
}

li {
    padding-inline: 10px;
    font-size: 1.2em;
    font-weight: bold;
}

.top-header p {
    font-size: 1.2em;
    font-weight: bold;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: #C43F35;
    text-decoration: underline;
}

.social-link img {
    width: 30px;
    height: 30px;
}

button {
    height: 40px;
    border-radius: 0px 20px 20px 20px;
    padding: 10px;
    background-color: white;
    border: 2px solid #0B2138;
}

#about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    width: 100%;
    gap: 5%;
    padding-bottom: 20px;
    padding-top: 40px;
}

.aboutDesc {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding-bottom: 20px;
    width: 80%;
}

.about-right {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.aboutme {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

/* Compétences */

.comp-icon {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}

.Competences {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 25px;
    row-gap: 25px;
    padding-top: 20px;
    padding-bottom: 20px;
}

@property --p {
    syntax: '<number>';
    inherits: true;
    initial-value: 0;
}

.pie {
    --p: 20;
    --b: 22px;
    --c: darkred;
    --w: 200px;

    width: var(--w);
    aspect-ratio: 1;
    position: relative;
    display: inline-grid;
    margin: 5px;
    place-content: center;
    font-size: 20px;
    font-weight: bold;
    font-family: sans-serif;
}

.pie:before,
.pie:after {
    content: "";
    position: absolute;
    border-radius: 50%;
}

.pie:before {
    inset: 0;
    background:
        radial-gradient(farthest-side, var(--c) 98%, #0000) top/var(--b) var(--b) no-repeat,
        conic-gradient(var(--c) calc(var(--p)*1%), #0000 0);
    -webkit-mask: radial-gradient(farthest-side, #0000 calc(99% - var(--b)), #000 calc(100% - var(--b)));
    mask: radial-gradient(farthest-side, #0000 calc(99% - var(--b)), #000 calc(100% - var(--b)));
}

.pie:after {
    inset: calc(50% - var(--b)/2);
    background: var(--c);
    transform: rotate(calc(var(--p)*3.6deg)) translateY(calc(50% - var(--w)/2));
}

.animate {
    animation: p 1s .5s both;
}

.no-round:before {
    background-size: 0 0, auto;
}

.no-round:after {
    content: none;
}

@keyframes p {
    from {
        --p: 0
    }
}

/* Portfolio/ Gallerie */


#Portfolio {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

#filters {
    display: flex;
    gap: 20px;
}

#filters button {
    height: 40px;
    border-radius: 0px 20px 20px 20px;
    padding: 10px;
    background-color: white;
    border: 2px solid #0B2138;
}

#filters .active {
    background-color: #0B2138;
    color: white;
}

#gallery {
    width: 80%;
    padding-top: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;

}

.gallery-item {
    border: 2px solid #0B2138;
    border-radius: 20px;
    background-color: white;
    text-align: center;
}

.gallery-item :hover {
    cursor: pointer;
}

#gallery img {
    object-fit: cover;
    width: 400px;
    height: 350px;
    border-radius: 20px 20px 0px 0px;
}


/* Modal */

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

#closeBtn {
    align-self: flex-end;
    margin: 10px;
}

#closeBtn :hover {
    cursor: pointer;
}

.modal-content {
    position: absolute;
    top: 55%;
    left: 50%;
    height: 750px;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
}

#modal-image {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.modal-content-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 20px;
}

#modal-technologies {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    width: 70%;
}

#modal-technologies p {
    background-color: #C43F35;
    padding: 10px;
    border-radius: 0px 20px 20px 20px;
    font-weight: bold;
}

/* contact */

#contact {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 200px;
    background-color: #0B2138;
    padding-top: 20px;
    text-align: center;
    row-gap: 30px;
    color: white;
}

#contact ul {
    flex-direction: column;
    row-gap: 20px;
}

@media all and (max-width:1000px) {
    .Competences {
        width: 80%;
    }

    .modal {
        padding: 30px;
    }

    .modal-content {
        left: 47%;

    }

    #gallery {
        width: 100%;

    }
}

@media all and (max-width:800px) {
    .top-header {
        padding: 10px;
        flex-direction: column;
        row-gap: 20px;
        height: 120px;
        text-align: center;
    }

    .aboutDesc {
        flex-direction: column;
    }

    #gallery img {
        width: 100%;

    }

    .modal-content {
        height: 710px;
        width: 70%;
    }
}